<form 
    style="border:1px solid currentColor;padding:12px;text-align:center;margin:0 auto 0 auto; width:450px;"
    action="https://tinyletter.com/exilland" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/exilland', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>
        <label for="tlemail">Subscribe via EMail</label><br>
        <input style="border:1px solid currentColor;color:currentColor;padding:0 12px" type="text" style="width:140px" name="email" id="tlemail" />
    </p>
    <input type="hidden" value="1" name="embed" />
    <input style="color: currentColor; border: 1px solid currentColor; padding: 0 12px;" type="submit" value="Subscribe" />
</form>
